src/resources/Numberiada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GameDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GameType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Basic"/>
							<xs:enumeration value="Advance"/>
							<xs:enumeration value="AdvanceDynamic"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Board">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Size" type="xs:integer"/>
							<xs:element name="Structure">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Range">
											<xs:complexType>
												<xs:attribute name="from" type="xs:int" use="required"/>
												<xs:attribute name="to" type="xs:int" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Squares">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Square" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:integer">
																	<xs:attribute name="row" type="xs:positiveInteger" use="required"/>
																	<xs:attribute name="column" type="xs:positiveInteger" use="required"/>
																	<xs:attribute name="color" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:integer">
																				<xs:minInclusive value="0"/>
																				<xs:maxInclusive value="6"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="Marker">
														<xs:complexType>
															<xs:attribute name="row" type="xs:positiveInteger" use="required"/>
															<xs:attribute name="column" type="xs:positiveInteger" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="type" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Random"/>
												<xs:enumeration value="Explicit"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Players" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Player" minOccurs="3" maxOccurs="6">
								<xs:complexType>
									<xs:all>
										<xs:element name="Name" type="xs:string"/>
										<xs:element name="Type">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Human"/>
													<xs:enumeration value="Computer"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Color">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" fixed="true"/>
													<xs:maxInclusive value="6" fixed="true"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:all>
									<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DynamicPlayers" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="gameTitle" type="xs:string" use="required"/>
						<xs:attribute name="totalPlayers" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="3"/>
									<xs:maxInclusive value="6"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
